<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ginjal</title>
	<link rel="shortcut icon" href="logobsi.png">

	<link rel="stylesheet" type="text/css" href="homecss.css">

</head>
<body>

<div class="container">

	<div class="menu">
		<label>Kesehatan</label>
		<ul>
			<li><a href="projectweb.html">Home</a></li>
			<li><a href="#">Kategori</a>
				<ul class="dropdown">
					<li><a href="mata.html">Mata</a></li>
					<li><a href="wajah.html">Wajah</a></li>
					<li><a href="kulit.html">Kulit</a></li>
					<li><a href="ginjals.html">Ginjal</a></li>
					<li><a href="mulut.html">Mulut</a></li>
					<li><a href="dayatahantubuh.html">Daya Tahan Tubuh</a></li>
				</ul>
			</li>
			<li><a href="projecttentang.html">Tentang Kami</a></li>
			<li><a href="projectkontak.html">Kontak</a></li>
		</ul>
	</div>

	<p align="center" style="font-family: Verdana; font-size: xx-large; margin-top: 100px;">Ginjal</p>

		
		<table align="center" cellspacing="50" cellpadding="30">

		<tr>
			<td onclick="document.location = 'ginjal.php';"><a href="ginjal.php" style="position: relative; bottom: 23px; right: 15px; text-decoration: none; color: black;">Artikel 1 <br> <br> Definisi Ginjal</a></td>
			
	
		</tr>
	</table>


        
<div>

	<footer style="margin-top: 147px;">
		<ul>
	
			<li><a href="projecttentang.html">Tentang Kami</a></li>
			<li><a href="projectkontak.html">Hubungi Kami</a></li>

		</ul>
	</footer>
</div>

</body>
</html>